<div class="jumbotron">
  <h2>Elixir Phoenix</h2>
  <p class="lead">Productivity and Performance. You <i>can</i> have it all:</p>
</div>

<div id="notifications"></div>
<br/>

<div id="messages"></div>
<br/>

<div class="col-md-2 form-group">
  <label>Username</label>
  <input id="username" type="text" class="form-control" />
</div>

<div class="col-md-6 form-group">
  <label>Message</label>
  <input id="message" type="text" class="form-control" />
</div>
